name: Run Lint and Test

on:
  push:
    branches: [ "*" ]

jobs:

  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Install
        run: make install

      - name: Lint
        run: make lint

      - name: Test
        run: make test
